@tailwind base;
@tailwind components;
@tailwind utilities;


.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: black; 
  }
  
  .loader-icon {
    width: 4rem; 
    height: 4rem; 
    color: white; 
    margin-top: -40px;
    animation: spin 1s linear infinite; 
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(180deg); }
  }
  